<ion-content>
  <ion-header class="ion-no-border" >
    <ion-icon name="close-circle-outline" class="cancel-icon" (click)="close()"></ion-icon>
      <ion-title class="ion-title" >Cart</ion-title>   
  </ion-header>

  <div class="cart-wrapper">
    <div class="cart-item">
      <ion-row>
     <ion-row class="item-img">
      <img src="assets/categoryimg1.png" alt="welcome">
     </ion-row>

     <ion-row class="item-det">
         <ion-col>SR200</ion-col>
         <ion-col>30%OFF</ion-col>
         <ion-col><ion-icon name="trash-outline"class="delete-icon"></ion-icon></ion-col>
     </ion-row>
    </ion-row>
  </div>
  </div>
  

</ion-content>
