
<ion-content style="--background:#F5F5F5">
  <ion-header class="ion-no-border" >
      <ion-title class="ion-title" >Your Orders</ion-title>   
  </ion-header>
  <div class="orderHolders"> 
    
    <div class="orderCard">
     
      <ion-text class="Order-number">Order Number <span class="order-number">#73654836</span> 
      <ion-icon name="chevron-forward-outline"></ion-icon></ion-text><br><br>
      <ion-row class="ion-row-1">
        <ion-col>Order Date</ion-col>
        <ion-col >Total</ion-col>
        <ion-col>Order Status</ion-col>
      </ion-row>

      <ion-row class="ion-row-2">
        <ion-col> 30-2-2020 </ion-col>
        <ion-col> 3200 SAR </ion-col>
        <ion-col class="deliver-status"> Delivered </ion-col>
      </ion-row>
    
    </div>
  
  </div>
   <!--<div class="OrderStatus" >
      <div class="OrderPending">
        <ion-text><br class="Order-number">Order Number #73654836</ion-text>
     <br><br><br>
    <ion-row>
      <ion-col>Order Date<br><Span>bf</Span>
      
      </ion-col><ion-col>Total<br><Span>bf</Span>
      </ion-col>
       
      <ion-col>Order Status<br><Span>bf</Span>
      </ion-col>
    </ion-row>
  </div>
</div>
<br>
<div class="div2">
<ion-row>
  <ion-row>
    <div class="indicator"></div>
  </ion-row>
  <ion-col>Order Date<br><Span>bf</Span>
      
  </ion-col><ion-col>Total<br><Span>bf</Span>
  </ion-col>
   
  <ion-col>Order Status<br><Span>bf</Span>
  </ion-col>
</ion-row>
</div>
-->


</ion-content>
