.back-icon{
    font-size: larger;
    padding-top:15px;
    padding-left: 23px;
    color:#000000;
    width: 18px;
    height:18px;
    }
    .search-bar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .search{
        background-color:#F1F0EF;
        height:40px;
        width:100%;
        border: none;
        border-radius: 5px;
        text-align: left;
        font-size:12px;
        color:#969292;
}
ion-icon{
    color:#969292;
    padding-left: 10px;
    font-size:16px;
    padding-right:15px;
}