<ion-content>
  <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/settings"></ion-icon>
<ion-header class="ion-no-border">
    <ion-title class="ion-title">Add address</ion-title>
</ion-header><br><br><br>

<div class="profile">
  <div class="profile-card">
    <div class="email">
      
      <input class="input" type="name" name="Name" placeholder="Name">
      
     </div>
     <br>

     <div class="email">
      
      <input class="input" type="name" name="BuildingName" placeholder="Building Name">
      
     </div>
     <br>

     <div class="email">
      
      <input class="input" type="name" name="street" placeholder="Street / Area">
      
     </div>
     <br>
     <div class="email">
      
      <input class="input" type="number" name="pincode" placeholder="Pincode">
      
     </div>
     <br>
     <div class="email">
      
      <input class="input" type="name" name="landmark" placeholder="Landmark">
      
     </div>
     <br>
     <div class="email">
      
      <input class="input" type="number" name="mobile" placeholder="Mobile Number">
      
     </div>
     <br>

     <div>
      <ion-button class="login" (click)="edit()">Add address</ion-button>
    </div>


   </div>
  </div>



</ion-content>

