.ion-title{
    padding-top: 42px;
}
.cancel-icon{
    font-size: larger;
    padding-top:20px;
    padding-left: 23px;
    color:#000000;
    float:right;
    padding-right:23px;
    font-weight: 800;
    }
.lang{
    padding-top: 55px;
    font-size: 11px;
    font-weight: 400;
    color:#8E8D8D;
    align-content: center;
}
.lang-eng{
    padding-left: 0px;
    margin-left: 0;
}