<ion-content>
  <ion-header class="ion-no-border" >
    <ion-icon name="close-circle-outline" class="cancel-icon" (click)="close()"></ion-icon>
      <ion-title class="ion-title" >Language
        <br><span class="lang">Choose your preferred language</span></ion-title>   
  </ion-header>

<br><br><br><br>
<ion-list>
  <ion-radio-group>
    <ion-item>
      <ion-label>English</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>عربى</ion-label>
      <ion-radio value="arab"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>


</ion-content>
