.image{
    width:272.94px;
    height:203.37px;
    opacity: 100%;
    margin-top: 66pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.input {
    display: block;
    width: 272px;
    background: #F1F0EF;
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 50px;
    padding: 0 20px 0 23px; 
    margin-left: auto;
    border-radius: 1%;
    box-shadow: 3px 3px 3px 3px #F1F0EF,
}
.resend{
     width: 276px;
     margin-top: 27px;
     height:50px;
     border-radius: 1px;
     box-shadow:#B2000079;

}