<ion-content style="--background:#F5F5F5">
  <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/settings"></ion-icon>
<ion-header class="ion-no-border">
    <ion-title class="ion-title">Profile</ion-title>
</ion-header><br><br><br>


<div class="profile">
  <div class="profile-card">
    <div class="email">
      
      <input class="input" type="email" name="Email" placeholder="Email">
      
     </div>
     <br>

     <div class="email">
      
      <input class="input" type="number" name="PhoneNumber" placeholder="Phone number">
      
     </div>
     <br>

     <div class="email">
      
      <input class="input" type="password" name="Password" placeholder="Password">
      
     </div>
     <br>

     <div>
      <ion-button class="login" (click)="edit()">Edit Profile</ion-button>
    </div>


   </div>
  </div>



</ion-content>

