<ion-content style="--background:#F5F5F5">
  <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/settings"></ion-icon>
<ion-header class="ion-no-border">
    <ion-title class="ion-title">Address Book</ion-title>
</ion-header>

<div class="orderHolders"> 
    
  <div class="orderCard">
    <ion-row class="ion-row-1">
      <ion-text class="name">Name
        
        <ion-icon class="edit-icon" name="create-outline"></ion-icon>
      </ion-text>
    </ion-row>

    <ion-row class="ion-row-2">
      <ion-text class="name">Place, <span>phonemunber</span>
        
     
      </ion-text>
    </ion-row>

    <ion-row class="ion-row-3">
      <ion-text class="name">PinCode
        
        <ion-icon class="delete-icon"name="trash-outline" md="md-trash"></ion-icon>
      </ion-text>
      
    </ion-row>
    
  </div>
  
  
</div>
<ion-button routerLink="/address">Add Address</ion-button>


</ion-content>
