<ion-content>
  <div class="imageholder">
    <img src="assets/icon/register.svg" alt="welcome" />
  </div>
  <div class="textContainer">
    <h1><b>Get started!</b></h1>
    <h2>Create an account</h2>
  </div>

  <form class="formContainer">
    <div class="wrap-input">
    <ion-input class="input" type="email" name="Email" placeholder="Email"></ion-input>
    </div>
    <div class="wrap-input">
      <ion-input class="input" type="password" name="password" placeholder="Password"></ion-input>
    </div>
    <div class="wrap-input">
      <ion-input class="input" type="number" name="PhoneNumber" placeholder="Phone Number"></ion-input>
      </div>
      <div class="wrap-input">
        <ion-input class="input" type="number" name="CRNumber" placeholder="CR Number"></ion-input>
      </div>
    <div class="login">
    <ion-button class="loginButton" routerLink="/tabs">Sign Up</ion-button>
   </div>
  </form>
  <p class="p">Already have an account?<span style="color:#F4BC25 ; padding-left: 10px;"routerLink="/login">Log in</span></p>

</ion-content>
