.image{
    width:201.52pt ;
    height:201.12pt;
    margin-top: 40pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
.semibold{
    font-weight:400pt;
    font-family: "poppins";
    align-content: center;
    font-size:large;
}
  h1{
    margin-top: 34.75;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 34pt;
    font-weight: 28pt;
    font-weight: 800;
    font-family: 'poppins';
}
p{
    width: 170pt;
    height:27pt;
    font-weight: 22pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: 'poppins';
}
ion-button{
    width:272px;
    height:50px;
    margin-left: 37px;
}

    .p{
        text-align: center;
        width:272px;
        height:50px;
        font-size: 14px; 
        margin-bottom: 5px;    
    }
    a{
        color:#F4BC25;
        text-decoration: none;
    }


 
 form {
    margin-top: 27px;
  }

  .wrap-input {
    margin-bottom: 27px;
    appearance: 5px 5px 5px 5px ;
    width: 272px;

}

  .input {
    display: block;
    width: 272px;
    background: #F1F0EF;
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 50px;
    padding: 0 20px 0 23px; 
    align-items: center;
    margin-left: 37px;
    margin-right: 36px;
    border-radius: 1%;
    box-shadow: 3px 3px 3px 3px #F1F0EF,
}