<ion-content>
  <ion-header class='ion-no-border'>
    <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/settings"></ion-icon>
    <ion-title class="ion-title">
        Feedback
    </ion-title>
</ion-header>
  <div class="image">
  <img src="assets/icon/feedback.svg" alt="Feedback">
  <h1>
    Your thoughts matter to us!
  </h1>
  </div>

  <div class="promotionWrap">
    <div class="promotionBanner">
      <ion-input class="writeHere">
          Write here...
        </ion-input>
     </div>
  </div>

  <ion-button>Send</ion-button>

</ion-content>
