<ion-content>
  <div class="imageholder">
    <img src="assets/icon/login.svg" alt="welcome" />
  </div>
  <div class="textContainer">
    <h1><b>Welcome to rozana</b></h1>
    <h2>Login to continue</h2>
  </div>

  <form class="formContainer">
    <div class="wrap-input">
    <ion-input class="input" type="email" name="Email" placeholder="Email"></ion-input>
    </div>
    <div class="wrap-input">
      <ion-input class="input" type="password" name="password" placeholder="Password"></ion-input>
    </div>
    <p class="forgot" routerLink="/forgot-password">Forgot Password?</p>
    <div class="login">
    <ion-button class="loginButton" routerLink="/tabs">Login</ion-button>
   </div>
  </form>
  <p class="p">Don’t have an account?</p>
  <p class="create"routerLink="/register"> Create new Account</p>
</ion-content>
