.CategroyWrap{
  padding:0 20px ;
  padding-top: 34px;
}

.ImageWrap{
    border-color: #DB7116; 
    border-width: 3px; 
    border-style:solid;
    border-radius: 5px;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(270deg, rgba(253,99,13,1) 0%, rgba(219,113,22,1) 35%, rgba(219,97,28,1) 100%);}

    .arabicCategory{
    
    margin: 0px 15px 0px !important;
    align-content: center;
    color: white;
    font-size:large;
    font-weight: 700;

}

.englishCategory{
    margin: 5px 7px 0px !important;
    color: #FCDA7E;
    font-size: large;   
    font-weight: 700;

}