<ion-content style="--background: #f5f5f5">
  <ion-header class="ion-no-border">
    <ion-title>Categories </ion-title>
    <ion-icon name="search-outline" routerLink="/search-page"></ion-icon>
  </ion-header>
  <br /><br />

  <div class="CategroyWrap">
    <ion-grid class="oderClass">
      <ion-row>
        <ion-col>
          <div class="ImageWrap">
            <ion-img src="assets/categoryimg1.png"> </ion-img>
            <div class="CategoryTextWrap">
              <p class="arabicCategory">الأعشاب والتوابلل</p>
              <p class="englishCategory">Herbs & Spices</p>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class="ImageWrap">
            <ion-img src="assets/categoryimg1.png"> </ion-img>
            <div class="CategoryTextWrap">
              <p class="arabicCategory">الأعشاب والتوابلل</p>
              <p class="englishCategory">Herbs & Spices</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
