.cancel-icon{
    font-size: larger;
    padding-top:23px;
    padding-left: 23px;
    color:#000000;
    float:right;
    padding-right:23px;
    font-weight: 800;
    }
.profile{
        padding-top:27px;
        padding-left: 3px;
        padding-right:3px;
        border-radius: 5%;
    }
    .profile-card{
        background-color: #FFFFFF;
        height:340px;
        width:100%;
        padding-top: 30px;
        padding-left:14px;
        padding-right: 13px;
       }
       .email{
           background-color: #F1F0EF;
           height:50px;
           width:100%;
           padding-left: 21px;
           padding-bottom: 15px;
           padding-top:15px;
           border-radius: 10px;
       }
       .input{
           background-color: #F1F0EF;
           border: none;
           outline: none;
      }
    
      .login{
        width: 100%;
        height:50px;
        align-items: center;
        font-size: 16px;
        box-shadow: #B2000078 5px solid;
            
    }
       
       