<ion-content>
  <ion-header class="ion-no-border" >
    <ion-icon name="close-circle-outline" class="cancel-icon" (click)="close()"></ion-icon>
      <ion-title class="ion-title" >Edit Profile</ion-title>   
  </ion-header>

  <div class="profile">
    <div class="profile-card">
      <div class="email">
        
        <input class="input" type="email" name="Email" placeholder="Email">
        
       </div>
       <br>
  
       <div class="email">
        
        <input class="input" type="number" name="PhoneNumber" placeholder="Phone number">
        
       </div>
       <br>
  
       <div class="email">
        
        <input class="input" type="password" name="Password" placeholder="Password">
        
       </div>
       <br>
  
       <div>
        <ion-button class="login" (click)="edit()">Edit Profile</ion-button>
      </div>
  
  
     </div>
    </div>
  

</ion-content>
